<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Bread Shop</title>
</head>
<body>
    <div class="main">
        <div class="wrapper">
            <div class="login">
                <h1 class="login message">Welcome to the Bread Shop!</h1><br>
                <div class="login wrapper">
                    <h2 class="login prompt">Login</h2>
                    <form action="/users/login" method="POST">
                        <label for="username">Username:</label><br>
                        <input type="text" id="username" name="username"><br><br>
                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password"><br>
                        <br>
                        <%if (error) { %>
                            <p class="login-error">Invalid Credentials</p>
                            <% } %>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>